<app-navbary></app-navbary>
<div class="container">
    <div class="panel-body">
        <h3>Apply for Policy</h3>    
        <form class="form-group">
            <table>
                <tr>
                  <td>Season: </td>
                  <input type="text">
    
                </tr>
                <tr><td>Year:</td>
                <input type="text">
                </tr>
                <tr><td>Crop: </td>
                  <td><input type="text"></td>
                </tr>
                <tr><td>Sum Insured: </td>
                <td><input type="number"></td></tr>
                <tr><td>Area:  </td>
                <td><input type="text"></td></tr>
                <tr><td><button type="reset" class="btn btn-warning">Reset</button></td>
                <td><button type="submit" class="btn btn-info">Calculate</button>
                </tr>
                              
                </table>
            </form>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Sum/Hectare</th>
                    <th>Crop Name</th>
                    <th>Premium</th>
                    <th>Share Premium</th>
                    <th>Area</th>
                    <th>Sum Insured</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>orient</td>
                    <td>3000</td>
                    <td>Wheat</td>
                    <td>40000</td>
                    <td>100</td>
                    <td>2</td>
                    <td>100000</td>
                    <td><button type="submit" class="btn btn-success">Apply</button></td>
                </tr>
            </table>
    
          </div>
    </div>
