<app-navbar-admin></app-navbar-admin>
<h3 id="heading">Insurance Claim Requests</h3>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>Claim ID</th>
      <th>Policy No.</th>
      <th>Sum Insured</th>
      <th>Cause of loss</th>
      <th>Date of loss</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let claim of claims" value="u">
      <td>{{claim.claimId}}</td>
      <td></td>
      <td>{{claim.claimReason}}</td>
      <td>{{claim.dateOfLoss}}</td>
      <td><button class="btn btn-info"><i class="fa fa-info-circle"></i></button></td>
      <td><button class="btn btn-success" (click)="claimApproved(claim.policyId)"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger" (click)="claimRejected(claim.policyId)"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    </tbody>
</table>
<app-footer></app-footer>
