<app-navbar-admin></app-navbar-admin>
<h3 id="heading">User Approval Requests</h3>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Name</th>
      <th>EmailID</th>
      <th>Role</th>
      <th>PAN</th>
      <th>Aadhar</th>
      <th>Certificate/License</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users" value="u">
      <td>{{u.userId}}</td>
      <td>{{u.name}}</td>
      <td>{{u.emailId}}</td>
      <td>{{u.role}}</td>
      <td>
        <a href="../assets/pan-card.jpg" class="btn btn-info" role="button"><i class="fa fa-info-circle"></i></a>
        <!-- <img style="display:none;" id="pan" src="PAN" />
        <button class="btn btn-info" (click)="imagePAN()">
          <i class="fa fa-info-circle"></i>
        </button> -->
      </td>
      <td>
        <a href="../assets/aadhaar.jpg" class="btn btn-info" role="button"><i class="fa fa-info-circle"></i></a>
        <!-- <img style="display:none;" id="aadhar" src="aadhar" />
        <button class="btn btn-info" (click)="imageAadhar()">
          <i class="fa fa-info-circle"></i>
        </button> -->
      </td>
      <td>
        <a href="../assets/bidderlicense.jpg" class="btn btn-info" role="button"><i class="fa fa-info-circle"></i></a>
        <!-- <img style="display:none;" id="cert" src="cert" />
        <button class="btn btn-info" (click)="imageCert()">
          <i class="fa fa-info-circle"></i>
        </button> -->
      </td>
      <td>
        <button class="btn btn-success" (click)="accept(u.userId)" onClick= "window.location.reload();">
          <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-danger" (click)="reject(u.userId)">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
    </tbody>
</table>
<app-footer></app-footer>
