<app-navbar></app-navbar>
<h3>User Approval Requests</h3>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account No.</th>
      <th>Aadhaar No.</th>
      <th>PAN</th>
      <th>Certificate</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-info"><i class="fa fa-info-circle"></i></button></td>
      <td><button class="btn btn-success"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-info"><i class="fa fa-info-circle"></i></button></td>
      <td><button class="btn btn-success"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-info"><i class="fa fa-info-circle"></i></button></td>
      <td><button class="btn btn-success"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger"><i class="fa fa-times"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<app-footer></app-footer>
