nav {
  background-color: #06163a;
  color: #ffff198c;
}
.nav-item {
  margin: 0px 25px;
  position: relative;
  left: -150px;
}
.nav-item a {
  color: #ffffb3;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}
img {
  border-radius: 20%;
}
.nav-item a:hover {
  color: #06163a;
  background-color: #fff;
  border-radius: 4px;
}

.logo {
  width: 200px;
  position: relative;
  left: 15px;
}

.action {
  position: relative;
  left: 750px;
}
.dropdown-menu{
  background-color: #06163a;
}
