<div class="container-fluid">
  <div class="card">
    <div class="header">
      <a href="#">
        <img
          src="../../../assets/logo.png"
          alt="Logo"
          style="width: 64px; margin-right: 16px"
        />
      </a>
      <h2>Registration Page</h2>
    </div>
    <form action="./action.php" (ngSubmit)="saveReg()" #addForm="ngForm">
      <div class="personal-details sections">
        <p style="width: 12%">Personal Details</p>
        <div class="form-group">
          <label for="name">Full Name:</label>
          <input
            type="text"
            name="name"
            class="form-control"
            required
            pattern="[A-Z][a-z]{3,}"
            placeholder="Enter Full Name"
            [(ngModel)]="reg.name"
            #name="ngModel"
          />
          <span *ngIf="name.touched && name.invalid" class="alert-warning">
            Name is invalid!
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="reg.email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
            placeholder="Enter email"
            #email="ngModel"
          />
          <span *ngIf="email.touched && email.invalid" class="alert-warning">
            Email is invalid!
          </span>
        </div>
        <div class="form-group">
          <label for="contact">Contact No:</label>
          <input
            type="number"
            [(ngModel)]="reg.contact"
            class="form-control"
            required
            pattern="[0-9]{10,}"
            placeholder="Enter Mobile No"
            #contact="ngModel"
          />
          <span
            *ngIf="contact.touched && contact.invalid"
            class="alert-warning"
          >
            Contact No is invalid!
          </span>
        </div>
      </div>
      <div class="address-details sections">
        <p style="width: 12%">Address Details</p>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="address">Address 1:</label>
              <textarea
                class="form-control"
                rows="3"
                id="address"
                required
                pattern="[A-Za-z0-9]+"
                [(ngModel)]="reg.address"
                #address="ngModel"
              ></textarea>
              <span
                *ngIf="address.touched && address.invalid"
                class="alert-warning"
              >
                Address is invalid!
              </span>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="address">Address 2:</label>
              <textarea
                class="form-control"
                rows="3"
                id="address"
                [(ngModel)]="reg.address"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="city">State: </label>
              <select
                class="form-control"
                [(ngModel)]="reg.state"
                placeholder="State"
                #state="ngModel"
              >
                <option>--Choose States--</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Kerala">Kerala</option>
                <option value="Rajasthan">Rajasthan</option>
              </select>
              <span
                *ngIf="state.touched && state.invalid"
                class="alert-warning"
              >
                State not selected!
              </span>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="state">City:</label>
              <select
                class="form-control"
                [(ngModel)]="reg.city"
                #city="ngModel"
                placeholder="City"
              >
                <option>--Choose City--</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Pune">Pune</option>
                <option value="Bengaluru">Bengaluru</option>
                <option value="Kolkata">Kolkata</option>
              </select>
              <span *ngIf="city.touched && city.invalid" class="alert-warning">
                City not selected!
              </span>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="pincode">Pincode:</label>
              <input
                type="number"
                class="form-control"
                required
                pattern="[0-9]{7,}"
                [(ngModel)]="reg.pincode"
                #pincode="ngModel"
              />
              <span
                *ngIf="pincode.touched && pincode.invalid"
                class="alert-warning"
              >
                Pincode is invalid!
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="bank-details sections">
        <p style="width: 10%">Bank Details</p>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="account-no">Account No: </label>
              <input
                type="number"
                class="form-control"
                required
                pattern="[0-9]{9,18}"
                [(ngModel)]="reg.accountNo"
                #accountNo="ngModel"
              />
              <span
                *ngIf="accountNo.touched && accountNo.invalid"
                class="alert-warning"
              >
                Account No is invalid!
              </span>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="ifsc">IFSC Code:</label>
              <input
                type="text"
                class="form-control"
                required
                pattern="^[A-Z]{4}0[A-Z0-9]{6}$"
                [(ngModel)]="reg.ifscCode"
                #ifscCode="ngModel"
              />
              <span
                *ngIf="ifscCode.touched && ifscCode.invalid"
                class="alert-warning"
              >
                IFSC Code is invalid!
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="document-details sections">
        <p style="width: 13%">Doucment Details</p>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" />
                <label class="custom-file-label" for="customFile"
                  >Choose Aadhar</label
                >
              </div>
              <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                  var fileName = $(this).val().split("\\").pop();
                  $(this)
                    .siblings(".custom-file-label")
                    .addClass("selected")
                    .html(fileName);
                });
              </script>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" />
                <label class="custom-file-label" for="customFile"
                  >Choose PAN</label
                >
              </div>
              <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                  var fileName = $(this).val().split("\\").pop();
                  $(this)
                    .siblings(".custom-file-label")
                    .addClass("selected")
                    .html(fileName);
                });
              </script>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" />
                <label class="custom-file-label" for="customFile"
                  >Choose Trader Licence
                </label>
              </div>
              <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                  var fileName = $(this).val().split("\\").pop();
                  $(this)
                    .siblings(".custom-file-label")
                    .addClass("selected")
                    .html(fileName);
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="set-password sections">
        <p style="width: 10%">Set Password</p>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="password">Password: </label>
              <input
                type="password"
                class="form-control"
                required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                [(ngModel)]="reg.password"
                #password="ngModel"
              />
              <span
                *ngIf="password.touched && password.invalid"
                class="alert-warning"
              >
                Password is invalid!
              </span>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="password">Confirm Password: </label>
              <input
                type="password"
                class="form-control"
                required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                [(ngModel)]="reg.confirmPassword"
                #confirmPassword="ngModel"
              />
              <span
                *ngIf="password.touched && password.invalid"
                class="alert-warning"
              >
                Password is invalid!
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="submit" [disabled]="!addForm.valid" class="btn">
          Register
        </button>
        <button type="button" class="btn">Reset</button>
      </div>
    </form>
    <div class="already">
      <p>Already have an account? <a href="">Login</a></p>
    </div>
  </div>
</div>

<app-footer></app-footer>
