<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <h1>Bidder Registration</h1>
    <div class="alert-message" *ngIf="allAlert">
      {{ allAlert }}
    </div>
    <form [formGroup]="bidderRegisterForm" (ngSubmit)="onRegister()">
      <div class="form">
        <div class="col">
          <input
            type="radio"
            name="role"
            value="bidder"
            formControlName="role"
            checked
          />
          <label for="role">Bidder:</label>
        </div>
        <div class="col">
          <input type="radio" name="role" value="farmer" disabled />
          <label for="role">Farmer:</label>
        </div>
      </div>
      <div class="form">
        <p style="width: 15%">Personal Details</p>
        <label for="username">Full Name:</label>
        <input type="text" name="name" formControlName="name" />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert-message"
        >
          <div *ngIf="name.errors.required">Name is required.</div>
          <div *ngIf="name.errors.pattern">Invalid Name Format</div>
        </div>
        <div class="form-group">
          <div class="nested-form">
            <label for="email">Email:</label>
            <input type="email" name="email" formControlName="emailId" />
            <div
              *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"
              class="alert-message"
            >
              <div *ngIf="emailId.errors.required">email is required.</div>
              <div *ngIf="emailId.errors.email">Invalid email Format</div>
            </div>
          </div>
          <div class="nested-form">
            <label for="contact">Contact:</label>
            <input
              type="number"
              name="contact"
              formControlName="bidderContact"
            />
            <div
              *ngIf="
                bidderContact.invalid &&
                (bidderContact.dirty || bidderContact.touched)
              "
              class="alert-message"
            >
              <div *ngIf="bidderContact.errors.required">
                contact is required.
              </div>
              <div *ngIf="bidderContact.errors.pattern">
                Invalid contact Format
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 26%">Address Details</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="address">Address Line 1:</label>
            <textarea rows="3" formControlName="bidderAddressLine1"></textarea>
            <div
              *ngIf="
                bidderAddressLine1.invalid &&
                (bidderAddressLine1.dirty || bidderAddressLine1.touched)
              "
              class="alert-message"
            >
              <div *ngIf="bidderAddressLine1.errors.required">
                One Address is required
              </div>
            </div>
          </div>

          <div class="nested-form">
            <label for="address">Address Line 2:</label>
            <textarea rows="3" formControlName="bidderAddressLine2"></textarea>
          </div>
        </div>
        <div class="nested-form">
          <div class="form-row mb-4">
            <div class="col">
              <label for="state">State: </label>
              <select
                class="form-control"
                placeholder="State"
                (change)="changeState($event.target.value)"
                formControlName="bidderState"
              >
                <option>--Choose State--</option>
                <option *ngFor="let state of States">{{ state.name }}</option>
              </select>
              <div
                *ngIf="
                  bidderState.invalid &&
                  (bidderState.dirty || bidderState.touched)
                "
                class="alert-message"
              >
                <div *ngIf="bidderState.errors.required">
                  State is required.
                </div>
              </div>
            </div>
            <div class="col">
              <label for="state">City:</label>
              <select
                class="form-control"
                placeholder="City"
                formControlName="bidderCity"
              >
                <option>--Choose City--</option>
                <option *ngFor="let city of cities">{{ city }}</option>
              </select>
              <div
                *ngIf="
                  bidderCity.invalid && (bidderCity.dirty || bidderCity.touched)
                "
                class="alert-message"
              >
                <div *ngIf="bidderCity.errors.required">city is required.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 22%">Bank Details</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="account">Account No.:</label>
            <input
              type="number"
              name="account"
              formControlName="bidderAccnountNumber"
            />
            <div
              *ngIf="
                bidderAccnountNumber.invalid &&
                (bidderAccnountNumber.dirty || bidderAccnountNumber.touched)
              "
              class="alert-message"
            >
              <div *ngIf="bidderAccnountNumber.errors.required">
                Account No. is required.
              </div>
              <div *ngIf="bidderAccnountNumber.errors.pattern">
                Invalid Account No.
              </div>
            </div>
          </div>
          <div class="nested-form">
            <label for="ifsc">IFSC Code:</label>
            <input type="text" name="ifsc" formControlName="bidderIFSC" />
            <div
              *ngIf="
                bidderIFSC.invalid && (bidderIFSC.dirty || bidderIFSC.touched)
              "
              class="alert-message"
            >
              <div *ngIf="bidderIFSC.errors.required">
                IFSC Code. is required.
              </div>
              <div *ngIf="bidderIFSC.errors.pattern">Invalid IFSC</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 18%">Document</p>
        <div class="document">
          <label for="aadhar">Aadhar Card No.:</label>
          <input
            type="file"
            name="fileToUpload"
            formControlName="bidderAADHAR"
          />
        </div>
        <div
          *ngIf="
            bidderAADHAR.invalid && (bidderAADHAR.dirty || bidderAADHAR.touched)
          "
          class="alert-message"
        >
          <div *ngIf="bidderAADHAR.errors.required">
            Aadhar card is required.
          </div>
        </div>
        <div class="document">
          <label for="pan">Pan Card No.:</label>
          <input type="file" name="fileToUpload" formControlName="bidderPAN" />
        </div>
        <div
          *ngIf="bidderPAN.invalid && (bidderPAN.dirty || bidderPAN.touched)"
          class="alert-message"
        >
          <div *ngIf="bidderPAN.errors.required">Pan Card is required.</div>
        </div>
        <div class="document">
          <label for="certificate">Trader License:</label>
          <input
            type="file"
            name="fileToUpload"
            formControlName="bidderLicense"
          />
        </div>
        <div
          *ngIf="
            bidderLicense.invalid &&
            (bidderLicense.dirty || bidderLicense.touched)
          "
          class="alert-message"
        >
          <div *ngIf="bidderLicense.errors.required">
            Trader License is required.
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 17%">Password</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="password">Password:</label>
            <input type="password" name="password" formControlName="password" />
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert-message"
            >
              <div *ngIf="password.errors.required">Password is required.</div>
              <div *ngIf="password.errors.pattern">
                Must contain 1 Uppercase, 1 Lowercase, 1 Special Character, 1
                Number and Minimum 8 characters
              </div>
            </div>
          </div>
          <div class="nested-form">
            <label for="password">Confirm Password:</label>
            <input
              type="password"
              name="confirmPassword"
              formControlName="confirmPassword"
            />
            <!--<div
              *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
              class="alert-message"
            >
              <div *ngIf="confirmPassword.errors.required">
                Password is required.
              </div>
              <div *ngIf="confirmPassword.errors.pattern">
                Must contain 1 Uppercase, 1 Lowercase, 1 Special Character, 1
                Number and Minimum 8 characters
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <button class="reg-button" type="submit">Register</button>
      <p>
        Already have an account?
        <a class="log-btn" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </p>
    </form>
  </div>
</div>
