footer {
  background-color: #06163a;
  color: #ffffb3;
}
img.logo{
	height:100px;
	border-radius: 60px;
  }
.container {
  padding: 0px 0px;
}
.footer-column-1 {
  display: grid;
}
.footer-contact ul li {
  margin: 6px 0px;
}
.footer-contact ul li a,
p {
  text-decoration: none;
  color: #ffffb3;
  font-weight: 600;
  text-align: justify;
}


