<!--<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column-1">
        <a class="navbar-brand" href="#">
          <img
            src="../../../assets/logo.png"
            class="mx-auto d-block"
            alt="Logo"
            width="40%"
          />
        </a>
        <div class="title text-center"><h6>© 2020 Hellenic GET 852</h6></div>
      </div>
      <div class="col-md-4 footer-contact">
        <h3 class="text-white mb-3">Contact Us</h3>
        <ul class="list-unstyled">
          <li>
            <a href="tel:555-555-5555">555-555-5555</a>
          </li>
          <li>
            <a href="tel:555-555-5555">555-555-5555</a>
          </li>
          <li>
            <a href="mailto:webmaster@example.com">webmaster@example.com</a>
          </li>
          <li>
            <a href="mailto:webmaster@example.com">webmaster@example.com</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-contact">
        <h3 class="text-white mb-3">About Us</h3>
        <p>
          Crop Insurance is an integrated IT solution and a web-based ecosystem
          to speed up service delivery, unify fragmented databases, achieve a
          single view of data, and eliminate manual processes. Crop Insurance
          provides insurance services to farmers faster than before
        </p>
      </div>
    </div>
  </div>
</footer>-->
 /<!-- footer -->
 <footer  style="background-color: #2c292f">
  <div class="container">
      <div class="row ">
          <div class="col-md-4 text-center text-md-left ">
              
              <div class="py-0">
                  <h2 class="my-4 text-white"><span class="mx-2 font-italic text-warning ">Our Team</span></h2>
                  <span class="font-weight-bold "> <img src=".\assets\Group_icon.jpg" class = "logo" ></span>
                  <p class="text-light py-4 mb-4">&copy;2020 Hellenic GET 852.</p>
              </div>
          </div>
          
          <div class="col-md-4 text-white text-center text-md-left ">
              <div class="py-2 my-4">
                  <div>
                      <p class="text-white"> <i class="fa fa-map-marker mx-2 "></i>
                             <a href="#"> CONTACT US </a></p>
                  </div>

                  <div> 
                      <p><i class="fa fa-phone  mx-2 "></i> +91 333-333-3332</p>
                  </div>
                  <div>
                      <p><i class="fa fa-envelope  mx-2"></i><a href="mailto:somedummymail.com">somedummy@gmail.com</a></p>
                  </div>  
              </div>  
          </div>
          
          <div class="col-md-4 text-white my-4 text-center text-md-left ">About Us
    <p class="text-warning my-2" >
    Crop Insurance is an integrated IT solution and a web-based ecosystem to speed up service delivery, unify fragmented databases, achieve a single view of data, and eliminate manual processes.
      Crop Insurance provides insurance services to farmers faster than before</p> 
          </div>
      </div>  
  </div>
</footer>
<!-- end of footer -->