<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column-1">
        <a class="navbar-brand" href="#">
          <img
            src="../../../assets/logo.png"
            class="mx-auto d-block"
            alt="Logo"
            width="40%"
          />
        </a>
        <div class="title text-center"><h6>© 2020 Hellenic GET 852</h6></div>
      </div>
      <div class="col-md-4 footer-contact">
        <h3 class="text-white mb-3">Contact Us</h3>
        <ul class="list-unstyled">
          <li>
            <a href="tel:555-555-5555">555-555-5555</a>
          </li>
          <li>
            <a href="tel:555-555-5555">555-555-5555</a>
          </li>
          <li>
            <a href="mailto:webmaster@example.com">webmaster@example.com</a>
          </li>
          <li>
            <a href="mailto:webmaster@example.com">webmaster@example.com</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-contact">
        <h3 class="text-white mb-3">About Us</h3>
        <p>
          Crop Insurance is an integrated IT solution and a web-based ecosystem
          to speed up service delivery, unify fragmented databases, achieve a
          single view of data, and eliminate manual processes. Crop Insurance
          provides insurance services to farmers faster than before
        </p>
      </div>
    </div>
  </div>
</footer>
