<!-- footer -->
<footer >
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-left">
        <div class="py-0">
          <h2 class="my-4">
            <span class="mx-2 font-italic text-warning">Our Team</span>
          </h2>
          <span class="font-weight-bold">
            <img src=".\assets\Logo3.png" class="logo"
          /></span>
          <p class="py-4 mb-4">&copy;2020 Hellenic GET 852.</p>
        </div>
      </div>

      <div class="col-md-4 text-center text-md-left">
        <div class="py-2 my-4">
          <div>
            <h2 >
              <span class="mx-2 font-italic text-warning">Contact us</span>
            </h2>
            <p>
              <i class="fa fa-map-marker mx-2"></i> <a href="https://www.google.com/maps/place/LTI+(L%26T+Infotech)/@19.1097132,73.0293199,15z/data=!4m5!3m4!1s0x0:0xed94f90522f1346b!8m2!3d19.1097132!4d73.0293199" target="_blank">Reach us</a>
            </p>
          </div>

          <div>
            <p><i class="fa fa-phone mx-2"></i>+91 333-333-3332</p>
          </div>
          <div>
            <p>
              <i class="fa fa-envelope mx-2"></i
              ><a href="mailto:hellenic.gp5@gmail.com">hellenic.gp5@gmail.com</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-warning my-4 text-center text-md-left">
        <h2>About Us</h2>
        <p class="my-2">
          Crop Insurance is an integrated IT solution and a web-based ecosystem
          to speed up service delivery, unify fragmented databases, achieve a
          single view of data, and eliminate manual processes. Crop Insurance
          provides insurance services to farmers faster than before
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- end of footer -->
