<div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['welcome']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['user']">User Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sell']">Sell Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['market']">Marketplace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['insurance']">Insurance Requests</a>
      </li>
    </ul>
  </nav>
  </div>
<h3>Welcome Admin</h3>
<div class="container">
  <div class="card">
    <h4>User Approval Requests</h4>
    <span>Active Requests: </span><br>
    <span>Total Farmers: </span><br>
    <span>Total Biders: </span><br>
  </div>
  <div class="card">
    <h4>Sell Requests</h4>
    <span>Active Requests: </span><br>
    <span>Approved Requests: </span><br>
    <span>Rejected Requests: </span><br>
  </div>
  <div class="card">
    <h4>Marketplace</h4>
    <span>Active Bids: </span><br>
    <span>Total Bids: </span><br>
    <span>Current Bid: </span><br>
  </div>
  <div class="card">
    <h4>Insurance Claim Requests</h4>
    <span>Pending Requests: </span><br>
    <span>Approved Requests: </span><br>
    <span>Rejected Requests: </span><br>
  </div>
</div>