<app-navbar></app-navbar>
<h3 id="heading">Welcome Admin</h3>
<div class="row">
  <div class="col-sm">
    <h4>User Approval Requests</h4>
    <span>Active Requests: </span><br>
    <span>Total Farmers: </span><br>
    <span>Total Biders: </span><br>
  </div>
  <div class="col-sm"><h4>Sell Requests</h4>
    <span>Active Requests: </span><br>
    <span>Approved Requests: </span><br>
    <span>Rejected Requests: </span><br>
  </div>
</div>

<div class="row">
  <div class="col-sm"><h4>Marketplace</h4>
    <span>Active Bids: </span><br>
    <span>Total Bids: </span><br>
    <span>Current Bid: </span><br>
  </div>
  <div class="col-sm"><h4>Insurance Claim Requests</h4>
    <span>Pending Requests: </span><br>
    <span>Approved Requests: </span><br>
    <span>Rejected Requests: </span><br>
  </div>
</div>
<app-footer></app-footer>
