<app-navbar-admin></app-navbar-admin>

<body>
  <h1 class="font-weight-bold">Welcome Admin</h1>
<div class="container">
  
  <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/admin-approves.jpg">
                <h3>Approve the Credintials</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Check the documents, and approve the users<br> Check the bidder license in case of Bidder<br>
                 Check soilPh certificate in case of Farmers.</p>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/admin-sell.jpg">
                <h3>Approve The Sell Request</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>View the details of the crops to be approved <br> Set the status of the crops</p>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
    <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="../../assets/insurance.jpg">
              <h3>Approve Insurance Claims</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>The cause of loss should be the <br> criteria for approving the claims </p>
          </div>
      </div>
  </div>
  <div></div>
  <div></div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/Bidding.jpg">
                <h3>Approve Bids</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Approve the current Bid on the crop.<br> Close the biddings</p>
            </div>
        </div>
    </div>
</div>
</body>
<app-footer></app-footer>
<!--<h3 id="heading">Welcome Admin</h3>
<div class="row">
  <div class="col-sm">
    <h4>User Approval Requests</h4>
    <span>Active Requests: </span><br>
    <span>Total Farmers: </span><br>
    <span>Total Biders: </span><br>
  </div>
  <div class="col-sm"><h4>Sell Requests</h4>
    <span>Active Requests: </span><br>
    <span>Approved Requests: </span><br>
    <span>Rejected Requests: </span><br>
  </div>
</div>

<div class="row">
  <div class="col-sm"><h4>Marketplace</h4>
    <span>Active Bids: </span><br>
    <span>Total Bids: </span><br>
    <span>Current Bid: </span><br>
  </div>
  <div class="col-sm"><h4>Insurance Claim Requests</h4>
    <span>Pending Requests: </span><br>
    <span>Approved Requests: </span><br>
    <span>Rejected Requests: </span><br>
  </div>
</div>-->