.card {
  width: 40%;
  float: left;
  position: relative;
  left: 50px;
  padding: 5px;
  margin: 20px;
  border: 2px solid black;
}

.container {
  width: 75%;
  margin: 10px auto;
}

.expand {
  float: right;
}

span {
  padding: 2px;
}

a {
  text-decoration: none;
  color: black;
}

table {
  margin: 80px auto;
  text-align: center;
}

td {
  padding: 5px;
  text-align: center;
}

h3,h4 {
  text-align: center;
  margin: 20px;
}