<app-navbar-admin></app-navbar-admin>
<body>
<h3 id="heading">Sell Requests</h3>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>Crop ID</th>
      <th>Crop Name</th>
      <th>Crop Type</th>
      <th>Fertilizer</th>
      <th>Base Price</th>
      <th>Soil PH</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of sellreq " value="u">
      <td>{{s.cropId}}</td>
      <td>{{s.cropName}}</td>
      <td>{{s.cropType}}</td>
      <td>{{s.fertilizer}}</td>
      <td>{{s.cropBasePrice}}</td>
      <td><button class="btn btn-info"><i class="fa fa-info-circle"></i></button></td>
      <td><button class="btn btn-success" (click)="unsold(s.cropId)"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger" (click)="rejected(s.cropId)"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    </tbody>
</table>
</body>
<app-footer></app-footer>
