<!-- <div>
    <app-navbar></app-navbar>
</div>
<p>
    <br>.<br>
</p>
<section class="py-5 ">
      <div class="header-section">
        <h1>Login Screen</h1>
        <p class="lead">Please Enter the Correct Credintials</p>
        <p>
            Username is the email-id you entered while registering.
        </p>
        <p>Password is case-sensitive</p>
        <p>Select the correct role type -<u><b><a href="#">Farmer</a></b></u> or <u><b> <a href="#">Bidder</a></b></u>?</p>
    </div>
    <span class="border-top-0">
    <form (ngSubmit) ='loggedIn()' class="form-container">
        <table style="margin-left: auto; margin-right:auto; border-collapse: separate; border-spacing: 0 2px; padding-top: 25px;">
            <tr>
                <td style="padding: 0 15px 0 15px;"></td>
            </tr>
    
            <tr>
            <tr><td style="padding: 0 15px 0 15px;">Username</td>
                <td><input name="username" [(ngModel)]=login.username></td>
            </tr>
            <tr><td style="padding: 0 15px 0 15px;">Password</td>
            <td><input type="password" name="password" [(ngModel)]=login.password></td>
            </tr>
            <tr>
                <td></td>
                <td><div class="container" style="background-color:#f1f1f1">
                       <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 15px 0 15px;">Type</td>
                <td><select name="role"  [(ngModel)]=login.role>
                <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                    </select>
                </td>
             </tr>
        <tr>
            <th align="right" style="padding: 15px;">
            <button type="reset" class="btn btn-secondary ">Reset</button>
            </th>
             <th><button type="submit" class="btn btn-success ">Login</button>
            </th>
        </tr>
    <tr aria-colspan="2"> <div class="form-footer"><td style="padding: 0 15px 0 15px;">
        <p> New User? Register <a href="#">here</a></p>
    </td>
        
      </div></tr>

        </table>
    </form>
    </span>
 
</section> -->

>
<body>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <div class="imgcontainer">
            <img src="../assets/Avatar_Icon.jpg" alt="Avatar" class="avatar" />
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="loggedIn()" #addForm="ngForm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <!-- required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" -->
                <span class="input-group-text">
                  <svg
                    width="3em"
                    height="2em"
                    viewBox="0 0 16 16"
                    class="bi bi-file-person-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"
                    />
                  </svg>
                </span>
              </div>
              <input
                type="email"
                class="form-control"
                [class.is-invalid]="username.invalid && username.touched"
                name="username"
                [(ngModel)]="login.username"
                placeholder="Email-Id"
                #username="ngModel"
              />
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <svg
                    width="3em"
                    height="2em"
                    viewBox="0 0 16 16"
                    class="bi bi-file-lock2-fill"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM7 6a1 1 0 0 1 2 0v1H7V6zm3 0v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z"
                    />
                  </svg>
                </span>
              </div>
              <!-- required pattern="[a-z]{7,14}" -->
              <!--password required pattern is at least 7 small letters right now-->
              <input
                type="password"
                class="form-control"
                [class.is-invalid]="password.invalid && password.touched"
                name="password"
                [(ngModel)]="login.password"
                placeholder="password"
                #password="ngModel"
              />
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <div
                  style="
                    padding: 0 15px 0 15px;
                    text-align: center;
                    color: white;
                  "
                >
                  Select Role-Type
                </div>
                <select
                  class="selectpicker"
                  name="role"
                  [(ngModel)]="login.role"
                >
                  <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <!-- <input type="submit" value="Login" class="btn float-right login_btn" [disabled]="!addForm.valid">-->
              <button
                class="btn float-right login_btn"
                type="submit"
                [disabled]="!addForm.valid"
              >
                Login
              </button>
              {{ allAlert }}
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?
            <a href="/signup" style="color: #ffffb3">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center" style="color: white">
            Forgot your <a href="#" style="color: #ffffb3"> password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <!-- footer -->
  <app-footer></app-footer>
  <!-- end of footer -->
</body>
