<div>
    <app-navbar></app-navbar>
</div>
<p>
    <br>.<br>
</p>
<section class="py-5 ">
      <div class="header-section">
        <h1>Login Screen</h1>
        <p class="lead">Please Enter the Correct Credintials</p>
        <p>
            Username is the email-id you entered while registering.
        </p>
        <p>Password is case-sensitive</p>
        <p>Select the correct role type -<u><b><a href="#">Farmer</a></b></u> or <u><b> <a href="#">Bidder</a></b></u>?</p>
    </div>
    <span class="border-top-0">
    <form (ngSubmit) ='loggedIn()' class="form-container">
        <table style="margin-left: auto; margin-right:auto; border-collapse: separate; border-spacing: 0 2px; padding-top: 25px;">
            <tr>
                <td style="padding: 0 15px 0 15px;"></td>
            </tr>
    
            <tr>
            <tr><td style="padding: 0 15px 0 15px;">Username</td>
                <td><input name="username" [(ngModel)]=login.username></td>
            </tr>
            <tr><td style="padding: 0 15px 0 15px;">Password</td>
            <td><input type="password" name="password" [(ngModel)]=login.password></td>
            </tr>
            <tr>
                <td></td>
                <td><div class="container" style="background-color:#f1f1f1">
                       <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 15px 0 15px;">Type</td>
                <td><select name="role"  [(ngModel)]=login.role>
                <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                    </select>
                </td>
             </tr>
        <tr>
            <th align="right" style="padding: 15px;">
            <button type="reset" class="btn btn-secondary ">Reset</button>
            </th>
             <th><button type="submit" class="btn btn-success ">Login</button>
            </th>
        </tr>
    <tr aria-colspan="2"> <div class="form-footer"><td style="padding: 0 15px 0 15px;">
        <p> New User? Register <a href="#">here</a></p>
    </td>
        
      </div></tr>

        </table>
    </form>
    </span>
 
</section> 

 /<!-- footer -->
 <app-footer></app-footer>
 <!-- end of footer -->