<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <h1>Farmer Registration</h1>
    <div class="alert-message" *ngIf="allAlert">
      {{ allAlert }}
    </div>
    <form [formGroup]="farmerRegisterForm" (ngSubmit)="onRegister()">
      <div class="form">
        <p style="width: 15%">Personal Details</p>
        <label for="username">Username:</label>
        <input type="text" name="name" formControlName="name" />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert-message"
        >
          <div *ngIf="name.errors.required">userName is required.</div>
          <div *ngIf="name.errors.pattern">Invalid userName Format</div>
        </div>
        <div class="form-group">
          <div class="nested-form">
            <label for="email">Email:</label>
            <input
              type="email"
              name="email"
              formControlName="emailId"
              [(ngModel)]="farmer.emailId"
            />
            <div
              *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"
              class="alert-message"
            >
              <div *ngIf="emailId.errors.required">email is required.</div>
              <div *ngIf="emailId.errors.email">Invalid email Format</div>
            </div>
          </div>
          <div class="nested-form">
            <label for="contact">Contact:</label>
            <input
              type="number"
              name="contact"
              formControlName="farmerContact"
            />
            <div
              *ngIf="
                farmerContact.invalid &&
                (farmerContact.dirty || farmerContact.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerContact.errors.required">
                contact is required.
              </div>
              <div *ngIf="farmerContact.errors.pattern">
                Invalid contact Format
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 26%">Address Details</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="address">Address Line 1:</label>
            <textarea rows="3" formControlName="farmerAddressLine1"></textarea>
            <div
              *ngIf="
                farmerAddressLine1.invalid &&
                (farmerAddressLine1.dirty || farmerAddressLine1.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerAddressLine1.errors.required">
                One Address is required
              </div>
            </div>
          </div>

          <div class="nested-form">
            <label for="address">Address Line 2:</label>
            <textarea rows="3" formControlName="farmerAddressLine2"></textarea>
          </div>
        </div>
        <div class="nested-form">
          <div class="form-row mb-4">
            <div class="col">
              <label for="state">State: </label>
              <select
                class="form-control"
                placeholder="State"
                (change)="changeState($event.target.value)"
                formControlName="farmerState"
              >
                <option>--Choose State--</option>
                <option *ngFor="let state of States">{{ state.name }}</option>
              </select>
              <div
                *ngIf="
                  farmerState.invalid &&
                  (farmerState.dirty || farmerState.touched)
                "
                class="alert-message"
              >
                <div *ngIf="farmerState.errors.required">
                  State is required.
                </div>
              </div>
            </div>
            <div class="col">
              <label for="state">City:</label>
              <select
                class="form-control"
                placeholder="City"
                formControlName="farmerCity"
              >
                <option>--Choose City--</option>
                <option *ngFor="let city of cities">{{ city }}</option>
              </select>
              <div
                *ngIf="
                  farmerCity.invalid && (farmerCity.dirty || farmerCity.touched)
                "
                class="alert-message"
              >
                <div *ngIf="farmerCity.errors.required">city is required.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form">
        <p style="width: 26%">Land Details</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="address">Address of Land:</label>
            <textarea rows="3" formControlName="farmerLandAddress"></textarea>
            <div
              *ngIf="
                farmerLandAddress.invalid &&
                (farmerLandAddress.dirty || farmerLandAddress.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerLandAddress.errors.required">
                Land Address is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="nested-form">
            <label for="landArea">Land Area (In hectares):</label>
            <input type="number" name="area" formControlName="farmerLandArea" />
            <div
              *ngIf="
                farmerLandArea.invalid &&
                (farmerLandArea.dirty || farmerLandArea.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerLandArea.errors.required">
                Land Area is required.
              </div>
            </div>
          </div>
          <div class="nested-form">
            <label for="pincode">Pincode:</label>
            <input
              type="number"
              name="pincode"
              formControlName="farmerLandPIN"
            />
            <div
              *ngIf="
                farmerLandPIN.invalid &&
                (farmerLandPIN.dirty || farmerLandPIN.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerLandPIN.errors.required">
                Pincode is required.
              </div>
              <div *ngIf="farmerLandPIN.errors.pattern">
                Invalid Pincode Format
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 22%">Bank Details</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="account">Account No.:</label>
            <input
              type="number"
              name="account"
              formControlName="farmerAccountNumber"
            />
            <div
              *ngIf="
                farmerAccountNumber.invalid &&
                (farmerAccountNumber.dirty || farmerAccountNumber.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerAccountNumber.errors.required">
                Account No. is required.
              </div>
              <div *ngIf="farmerAccountNumber.errors.pattern">
                Invalid Account No.
              </div>
            </div>
          </div>
          <div class="nested-form">
            <label for="ifsc">IFSC Code:</label>
            <input type="text" name="ifsc" formControlName="farmerIFSC" />
            <div
              *ngIf="
                farmerIFSC.invalid && (farmerIFSC.dirty || farmerIFSC.touched)
              "
              class="alert-message"
            >
              <div *ngIf="farmerIFSC.errors.required">
                IFSC Code. is required.
              </div>
              <div *ngIf="farmerIFSC.errors.pattern">Invalid IFSC</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 18%">Document</p>
        <div class="document">
          <label for="aadhar">Aadhar Card No.:</label>
          <input
            type="file"
            name="farmerAADHAR"
            [(ngModel)]="farmer.farmerAADHAR"
            formControlName="farmerAADHAR"
          />
        </div>
        <div
          *ngIf="
            farmerAADHAR.invalid && (farmerAADHAR.dirty || farmerAADHAR.touched)
          "
          class="alert-message"
        >
          <div *ngIf="farmerAADHAR.errors.required">
            Aadhar card is required.
          </div>
        </div>
        <div class="document">
          <label for="pan">Pan Card No.:</label>
          <input
            type="file"
            [(ngModel)]="farmer.farmerPAN"
            name="farmerPAN"
            formControlName="farmerPAN"
          />
        </div>
        <div
          *ngIf="farmerPAN.invalid && (farmerPAN.dirty || farmerPAN.touched)"
          class="alert-message"
        >
          <div *ngIf="farmerPAN.errors.required">Pan Card is required.</div>
        </div>
        <div class="document">
          <label for="certificate">Certificate:</label>
          <input
            type="file"
            [(ngModel)]="farmer.farmerCertificate"
            name="farmerCertificate"
            formControlName="farmerCertificate"
          />
        </div>
        <div
          *ngIf="
            farmerCertificate.invalid &&
            (farmerCertificate.dirty || farmerCertificate.touched)
          "
          class="alert-message"
        >
          <div *ngIf="farmerCertificate.errors.required">
            Certificate is required.
          </div>
        </div>
      </div>
      <div class="form">
        <p style="width: 17%">Password</p>
        <div class="form-group">
          <div class="nested-form">
            <label for="password">Password:</label>
            <input type="password" name="password" formControlName="password" />
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert-message"
            >
              <div *ngIf="password.errors.required">Password is required.</div>
              <div *ngIf="password.errors.pattern">
                Must contain 1 Uppercase, 1 Lowercase, 1 Special Character, 1
                Number and Minimum 8 characters
              </div>
            </div>
          </div>
          <div class="nested-form">
            <label for="password">Confirm Password:</label>
            <input type="password" name="confirmPassword" formControlName="confirmPassword"/>
            <!-- <div
              *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
              class="alert-message"
            >
              <div *ngIf="confirmPassword.errors.required">
                Password is required.
              </div>
              <div *ngIf="confirmPassword.errors.pattern">
                Must contain 1 Uppercase, 1 Lowercase, 1 Special Character, 1
                Number and Minimum 8 characters
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <button class="reg-button" type="submit">Register</button>
      <p>
        Already have an account?
        <a class="log-btn" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </p>
    </form>
  </div>
</div>
