.container-fluid {
  min-height: 100vh;
  background-color: #066862;
  padding: 3rem 0rem;
}
.container {
  width: 70%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 8px;
  margin-top: 5rem;
}
.container h1 {
  text-align: center;
  color: #066862;
  margin: 2rem 0rem;
}

form {
  margin: auto;
  width: 97%;
}
.column h1 {
  font-weight: 600;
  color: #066862;
  font-size: 2rem;
  text-align: center;
}
form .form {
  width: 100%;
  border: 2px solid #066862;
  border-radius: 4px;
  padding: 0px 8px;
  margin: 16px 16px 16px 0px;
}
form .form input {
  width: 100%;
}
form .form p {
  color: #066862;
  font-weight: 600;
  transform: translateY(-18px);
  background-color: #fff;
  margin-left: 12px;
  padding-left: 8px;
  margin-bottom: 0px;
}
.form-group {
  display: flex;
  border: none;
}
.form-group .nested-form:nth-child(odd) {
  margin-right: 8px;
}
.form-group .nested-form {
  border: none;
  width: 100%;
  margin: 4px 0px 8px;
}
.nested-form textarea {
  width: 100%;
  border: 2px solid #066862;
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding: 8px;
  font-weight: 600;
}
.document {
  display: flex;
}
.document label {
  width: 35%;
  margin: auto;
}
.document input {
  border: none;
}
input[type="file"]::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #066862;
  border: 2px solid #066862;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
  outline: none;
}
.reg-button {
  width: 100%;
  border: 2px solid #066862;
  background-color: #066862;
  color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
.reg-button:hover {
  opacity: 0.9;
}
p {
  padding: 8px 0px;
}
.pincode {
  margin-bottom: 8px;
}
input,
select {
  border: 2px solid #066862;
  border-radius: 4px;
}
