<app-navbar-admin></app-navbar-admin>
<h3 id="heading">MarketPlace</h3>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>Seller Name</th>
      <th>Crop Name</th>
      <th>Crop Season</th>
      <th>Quantity</th>
      <th>Previous Bid</th>
      <th>Current Bid - Bidder ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of market " value="u">
      <td>{{m.seller}}</td>
      <td>{{m.biddername}}</td>
      <td>{{m.cropName}}</td>
      <td>{{m.cropSeason}}</td>
      <td>{{m.cropQuantity}}</td>
      <td>{{m.previousBid}}</td>
      <td>{{m.currentBid}}</td>
    </tr>
    </tbody>
</table>
<app-footer></app-footer>
