<app-navbar></app-navbar>
<h3 id="heading">MarketPlace</h3>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th>Seller Name</th>
      <th>Crop Name</th>
      <th>Crop Season</th>
      <th>Quantity</th>
      <th>Previous Bid</th>
      <th>Current Bid - Bidder ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<app-footer></app-footer>
