<div class="container-fluid">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark py-0 px-0">
    <!-- <div class="container"> -->
      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"> <!-- Brand -->
          <a class="navbar-brand" href="#">
            <img src="../../../assets/Project_Icon_name.jpg" alt="Logo" style="width: 200px" />  
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/Project_Icon.jpg" alt="Logo" style="width: 64px" />  
          </a>
        </li>
        <li class="nav-item">
            <span id="logout"><a class="nav-link" [routerLink]="['login']">Logout</a></span>
        </li>
        </ul>
      <!-- </div> -->
    </div>
  </nav>
  <div class="container">
    <div class="media border p-3">
      <img
        src="../../assets/user.png"
        alt="John Doe"
        class="mr-3 rounded-circle"
        style="width: 80px"
      />
      <div class="media-body">
        <h2>Hello {{bname}}</h2>
        <p>Here you can view the Bidding History and Marketplace</p>
      </div>
    </div>

    <div class="card">
      <h3 class="pb-3">Bidding History</h3>
      <div class="table-responsive-md">
        <table class="table table-bordered table-hover table-striped table-sm">
          <thead>
            <tr>
              <th>Bid ID</th>
              <th>Bid Amount (₹)</th>
              <th>Bid Status</th>
              <!-- <th>Crop</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Type</td>
              <td>Crop</td>
              <td>40000</td>
              <!-- <td>Accepted</td> -->
            </tr>
            <tr *ngFor="let bid of bids">
              <td>{{ bid.bidId }}</td>
              <td>{{ bid.bidAmount }}</td>
              <td>{{ bid.bidStatus }}</td>
              <!-- <td>{{ bid.cropName }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <h3 class="pb-3">Market Place</h3>
      <div class="table-responsive-md">
        <table class="table table-bordered table-hover table-striped table-sm">
          <thead>
            <tr>
              <th>Crop Type</th>
              <th>Crop </th>
              <th>Base Price (₹)</th>
              <th>Current Bid (₹)</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Type</td>
              <td>Crop</td>
              <td>30000</td>
              <td>40000</td>
              <td>
                <button
                  type="button"
                  (click)="applyBid()"
                  class="btn btn-success btn-sm"
                >
                  Apply Bid
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card apply-bid" *ngIf="toggle">
        <h4>Apply Bid Here:</h4>
        <form class="form-inline" action="/action_page.php">
          <label for="bid-amount" class="mr-sm-2">Bid Amount: </label>
          <input
            type="number"
            class="form-control mb-2 mr-sm-2"
            placeholder="₹"
            required
            pattern="[0-9]"
          />
          <button type="submit" class="btn btn-primary mb-2">Submit Bid</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
