.container-fluid {
  min-height: 100vh;
  background-color: #066862;
  padding: 3rem 0rem;
}
.container {
  /* padding-top: 10px; */
  /* padding-bottom: 16px; */
  margin-top: 50px;
}
/* ################# Page Header ##################### */
.media {
  background-color: #fff;
  border: none;
  padding: 16px;
}
.media p {
  color: rgba(0, 0, 0, 0.4);
}
/* ############# Bidding Table ################### */
.card {
  background-color: #fff;
  border: none;
  padding: 16px;
  margin: 16px 0px;
}
thead {
  background-color: #06163a;
  color: #fff;
}
td button {
  display: block;
  margin: auto;
}
/* Apply Bid Card */
.apply-bid {
  border: 2px solid #06163a;
}
nav {
  background-color: #06163a;
  color: #ffff198c;
}
.nav-item {
  margin: 0px 25px;
}
.nav-item a {
  color: #ffffb3;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
img {
  border-radius: 20%;
}
.nav-item a:hover {
  color: #06163a;
  background-color: #fff;
  border-radius: 4px;
}

table {
  text-align: center;
}

#logout {
  position: relative;
  left: 700px;
}


