
 <div>
  <app-navbar></app-navbar>
</div>
  <body>
  <p>
   <br>
  </p>


  <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../assets/register-icon-png-13.png">
                  <h3>Registration</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Register to get the benefits of the policy.<br> Already registered? Login to your account.<br>
                    Only one account for the corresponding email address.</p>
                      <a href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../assets/Farmer_Icon.jpg">
                  <h3>Farmer's Corner</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Calculate your insurance premium before. <br> Report crop loss and apply for claim</p>
                      <a href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../assets/Bidder_Icon.png">
                  <h3>Bidder's Corner</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Can apply for bids for crops in units.<br> The bid status will be sent to you </p>
              </div>
          </div>
      </div>
  </div>
</body>
 <app-footer></app-footer>
